* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* BODY-PG3 */

body {
    background-image: url("/assets/img/CMB-PG3/background.png");
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    animation: btn-animation 1s ease;
}

@keyframes btn-animation {
    0% {
        margin-bottom: 0%;
        opacity: 0%;
    }

    10% {
        margin-top: 5%
    }
}

/* BODY-PG3 */

/* HEADER-PG3 */

header {
    display: flex;
    justify-content: flex-end;
    margin: 48px;
}

.logo-pg3 {
    width: 100%;
    max-width: 75px;
}

/* /HEADER-PG3 */

/* SECTION-PG3 */

section {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/* /SECTION-PG3 */

/* PHOTO-PG3 */

.square {
    display: flex;
    margin-left: 114px;
    margin-top: -20px;
}

.photo {
    border: 6px solid #0076a0;

    border-radius: 40px;

    padding: 119px 115px ;

    background-image: url(/assets/img/CMB-PG11/360_F_116743793_5vlsF6CKEwIPj0ItS68Kvj458t7NYrMT.jpg);

    background-size: 225%;

    background-position-x: 65%;

    background-position-y: 18%;

    background-repeat: no-repeat;

}

/* /PHOTO-PG3 */

/* ARCTICLE-PG3 */

article {
    margin: 15px 60px 0;
}


.titulo-1-pg3 {
    font-size: 1.8rem;
    color: #00a8e0;
}

.titulo-2-pg3 {
    margin-top: -6px;
    font-size: 1.8rem;
    color: #02729a;
    margin-bottom: 16px;
}

.titulo-3-pg3 {
    font-size: 0.7rem;
    color: black;
    font-weight: 500;
}

/* /ARCTICLE-PG3 */

/* FOOTER-PG3 */

nav {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    margin: 0px 0 0 59px;
}

.ul{
    margin-top: 3px;
    text-decoration: none;
}

.titulo-4-pg3 {
    color: white;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 31px 0 50px 82px;
}

.titulo-4-pg3 ul {
    list-style-position: outside;
}

.titulo-5-pg3 {
    margin: 0 54px 0 0;
    color: #0076a0;
    font-weight: 500;
    font-size: 0.6rem;
}

.left-right a {
    text-decoration: none;
}

.left-right {
    margin: 0 0 0 100px;
}

.right {
    margin-bottom: 0px;
    margin-right: 0px;
    background-image: url(/assets/img/right.png);
    background-size: 18px;
    padding: 10px;
    background-repeat: no-repeat;
    transition: .2s;
}

.right:hover {
    background-image: url(/assets/img/righthover.png);
    background-size: 20px;
    background-repeat: no-repeat;
    transition: .2s;
}

.right:active {
    transform: translateY(5px);
}

.left {
    background-image: url(/assets/img/lefthover.png);

    background-size: 18px;
    padding: 10px;
    background-repeat: no-repeat;
    transition: .2s;
}

.left:hover {
    background-image: url(/assets/img/left.png);

    background-size: 20px;
    background-repeat: no-repeat;
    transition: .2s;
}

.left:active {
    transform: translateY(5px);
}

/* /FOOTER-PG3 */
.button {

    margin-top: 0px;

    display: flex;

    align-items: center;

    color: white;

    background-color: #02a8e1;

    border: #0076a0;

    border-radius: 5px;

    transition: .2s;

}

a {
    text-decoration: none;
}

.button p {
    font-weight: 400;

    font-size: 10.5px;

    margin: 7px 16px
}

.button img {
    width: 100%;
    max-width: 21px;
    margin-right: 3px;
}

.button:hover {
    background: #0076a0;
    transition: .2s;
}

.button:active {
    transition: .2s;


    transform: translateY(10px);
}

.button:active {

    transition: .0s;

    background: #0076a0;
}



/* /SECTION-PG3 */

@media screen and (max-width:360px) and (max-height:800px) {
    .titulo-4-pg3 {
        color: white;
        font-size: 0.6rem;
        font-weight: 400;
        margin: 54px 0 50px 62px;
    }
}